.text-1 {
    font-size: $font-1-size;
    line-height: $font-1-height;
}

.text-2 {
    font-size: $font-2-size;
    line-height: $font-2-height;
}

.text-3 {
    font-size: $font-3-size;
    line-height: $font-3-height;
}

.text-4 {
    font-size: $font-4-size;
    line-height: $font-4-height;
}

.text-5 {
    font-size: $font-5-size;
    line-height: $font-5-height;
}

.text-6 {
    font-size: $font-6-size;
    line-height: $font-6-height;
}

.text-7 {
    font-size: $font-7-size;
    line-height: $font-7-height;
}

.text-8 {
    font-size: $font-8-size;
    line-height: $font-8-height;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: $bold !important;
}

.text-semibold {
    font-weight: $semibold !important;
}

.text-regular {
    font-weight: $regular !important;
}

.text-primary {
    color: $font-base-color !important;
}

.text-secondary {
    color: $font-secondary-color !important;
}

.text-muted {
    color: $font-muted-color !important;
}