.card {
    background-color: $white;
    padding: $spacing-4 $spacing-5;
    box-shadow: $shadow-default;
    border-radius: $radius;

    &.card-border {
        box-shadow: $shadow-border;
    }

    &.card-border-dark {
        box-shadow: $shadow-border-dark;
    }

    &.card-2dp {
        box-shadow: $shadow-2dp;
    }
}